{% extends "qas_app/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <h2>{{ question.text }} [{{question.author}}]</h2>
            <img class="rounded-circle article-img" src="{{ question.asked_user.profile.image.url }}">
            <a class="mr-2" href="{% url 'user-profile' question.asked_user.username %}">{{ question.asked_user }}</a>
            <br>
            <a class="text-muted" href="{% url 'question-detail' question.id %}">{{ question.date_answered|date:"F d, Y" }}</a> 
            <p class="article-content">{{ question.answer }}</p>


    </article>
{% endblock content %}